.nav:nth-of-type(1) {
  width: 20%;
}

.nav:nth-of-type(2) {
  width: 10%;
}

.nav:nth-of-type(3) {
  width: 35%;
}

.nav:nth-of-type(4) {
  width: 25%;
}

.nav:nth-of-type(5) {
  width: 10%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: #333;
  line-height: 140%;
  margin: 0;
}

.clearfix:before, footer:before, .clearfix:after, footer:after {
  content: "";
  display: table;
}
.clearfix:after, footer:after {
  clear: both;
}

section {
  position: relative;
  background: #555;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

section .wrapper,
footer .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  transition: all ease .2s;
  padding: 3.75em 1.875em;
}
@media (max-width: 60em) {
  section .wrapper,
  footer .wrapper {
    background: blue;
  }
}
@media (max-width: 37.5em) {
  section .wrapper,
  footer .wrapper {
    background: green;
  }
}
@media (max-width: 25em) {
  section .wrapper,
  footer .wrapper {
    background: red;
  }
}

article {
  padding-left: 38.33333%;
}
@media (max-width: 25em) {
  article {
    padding-left: 0%;
  }
}

aside {
  top: 3em;
  right: auto;
  bottom: 0;
  left: 2em;
  position: absolute;
  width: 31.66667%;
}
@media (max-width: 25em) {
  aside {
    display: none;
  }
}

h1 {
  font-size: 1.625em;
}

h2 {
  font-size: 1.375em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

a {
  color: #fff;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
a:hover {
  color: #ECC72A;
}

header {
  background: #eee;
  padding: 4em 1em;
}

header .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

nav {
  background: #bc7778;
}
nav .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  width: 16%;
  text-align: center;
  -webkit-box-shadow: inset 1px 1px 1px #ff6600;
  -moz-box-shadow: inset 1px 1px 1px #ff6600;
  box-shadow: inset 1px 1px 1px #ff6600;
}
nav a {
  text-decoration: none;
  display: block;
  padding: 1em 0;
  background: #B05F60;
}
nav a:hover {
  background: #a45152;
}

footer {
  background: #222;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 33.33333%;
}
