/*
 *	The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file.
 **/
/*
 *	A mixin lets you make groups of CSS declarations that you want to reuse throughout your site.
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 1em;
  line-height: 140%;
  margin: 0;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

section {
  position: relative;
  background: #555;
  color: #fff;
}

section .wrapper,
footer .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  transition: all ease .2s;
  padding: 3.75em 1.875em;
}
@media (max-width: 60em) {
  section .wrapper,
  footer .wrapper {
    background: blue;
  }
}
@media (max-width: 37.5em) {
  section .wrapper,
  footer .wrapper {
    background: green;
  }
}
@media (max-width: 25em) {
  section .wrapper,
  footer .wrapper {
    background: red;
  }
}

article {
  padding-left: 38.33333%;
}
@media (max-width: 25em) {
  article {
    padding-left: 0%;
  }
}

aside {
  top: 3em;
  right: auto;
  bottom: 0;
  left: 2em;
  position: absolute;
  width: 31.66667%;
}
@media (max-width: 25em) {
  aside {
    display: none;
  }
}

h1 {
  font-size: 1.625em;
}

h2 {
  font-size: 1.375em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

a {
  color: #fff;
}
a:hover {
  color: #ECC72A;
}

header {
  background: #eee;
  padding: 4em 1em;
}

header .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

nav {
  background: #bc7778;
}
nav .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  width: 16%;
  text-align: center;
}
nav a {
  text-decoration: none;
  display: block;
  padding: 1em 0;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(255, 255, 255, 0.2);
  background: #B05F60;
}
nav a:hover {
  background: #a45152;
}

footer {
  background: #222;
}
footer:before, footer:after {
  content: "";
  display: table;
}
footer:after {
  clear: both;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 33.33333%;
}
