
nav {
	background: lighten($nav-bg, 7%);
	
	.wrapper {
		@include wrapper();
	}
	
	ul {
		@include list-style();
		
		li {
			float: left;
			width: 16%;
			text-align: center;
		}
	}
	
	a {
		text-decoration: none;
		display: block;
		padding: px(16) 0;
		@include shadowinset(.1, .2);
		@include button-colors($nav-bg, $nav-bg-hover);
	}
}

