/*
 *	The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file.
 **/


$font-stack: Arial, sans-serif;


$primary-color: #333;
$secondary-color: #fff;


$header-height: 300px;
$header-bg: #eee;


$section-bg: #555;
$nav-bg: #B05F60;
$nav-bg-hover: darken($nav-bg, 5%);